.env

venv/
__pycache__/

gee_key.json

model/unet_resnet50_imagenet_exp_best.pth

mask.py

storage/**/*

model/unet_efficientnet_b5.pth

app/utils/ndvi.py
app/schema/ndvi_schema.py
app/models/ndvi_analysis_model.py
app/routes/ndvi_analysis.py